/* Adds padding to content page on left to account for sidebar */
body {
    --sidebar-width: 80px;
    background-color: black;
}
.main-padding {
    padding-left: var(--sidebar-width);
}

/* Sidebar related stuff */

@keyframes sidebarIn {
    0% {
        left: -100px;
    }
    100% {
        left: 0px;
    }
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-left: -1rem;
    padding-left: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    height: 70vh;
    bottom: 15vh;
    width: var(--sidebar-width);
    background-color: lightcoral;
    animation: 0.7s ease-out sidebarIn;
}
.sidebar > a {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: lightpink;
}

/* Responsive: small tablets and lower */
@media screen and (max-width: 500px) {
    .sidebar {
        height: var(--sidebar-width);
        width: 100vw;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: -1rem;
        padding-bottom: 1rem;
        bottom: 0;
        flex-direction: row;
    }
    .sidebar > a {
        margin: auto 0;
        margin-left: 20px;
    }
    .main-padding {
        padding-left: 0;
        padding-bottom: var(--sidebar-width);
    }
}